.galItem{
    height: 200px;
    overflow: hidden;
    margin: 0 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.603);
}
.galItem > .content{
    height: 100%;
}
.content > img{
    height: 100%;
    border-radius: 10px;

}
.header{
    position: relative;
    font-size: 30px;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}
.header::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;

}