:root {
  --ipaja-green: #00c55c;
  --ipaja-dark-green: #00461f;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
}

body {
  position: relative;

  font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
.headerText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
/* .headerText::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 2px;
  width: 20%;
  border-radius: 20px;
  transform: translateX(-50%);
  background-color: black;
} */

.headerArea p {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.headerArea .logo{
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.377));

}
.headerArea p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
}

.headerArea p:nth-child(2) {
  letter-spacing: 4px;
}

@media only screen and (max-width: 600px) {
  .headerText {
    text-align: center;
    margin: 20px;
  }
  .headerArea{
    margin: 0;
    padding: 15px;
    font-size: 10px;
    
  }
  .headerArea p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
  }
  .logo{
    height: 60px;
    width: 40px;
  }
  .headerArea>img:nth-child(2){
    background-color: red;
  }
  .logo:nth-child(2){
    background-color: red;
    height: 70px;
  }
}




.container {
  position: relative;
  height: 3000px;
  padding: 10px 0;
  /* overflow-y: auto; 
  overflow-x: hidden; */
  width: 95%;
  background: url(./images/bg_grayscale.jpg);
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.288);
  display: flex;
  flex: 4;
  flex-direction: column;
}
.timer{
  margin: 25px 0;
  color: white;
}
.buttons{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}
.buttons >*{
  margin:10px;
  padding:20px;
  background-color: var(--ipaja-green);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
  cursor: pointer;
  transition: .5s;
  text-decoration: none;

  
}
.buttons>*:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.247);

}